body {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/pattern-background-desktop.svg') no-repeat center top ;
    z-index: -1;
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(56, 125, 255, 0.2);
    
}


.card-title {
    font-size: 1.5rem;
    color: hsl(223, 47%, 23%);
}

.card-text {
    color: hsl(224, 23%, 55%);
}

.plan {
    background-color: hsl(225, 100%, 98%);
    color: hsl(223, 47%, 23%);
}

.plan p {
    margin-bottom: 0;
}

.btn-primary {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 0.5rem;
}

.btn-primary:hover {
    background-color: hsl(245, 75%, 60%);
}

.btn-link:hover {
    color: hsl(223, 47%, 23%);
}
